.wrapper {
    background: url('https://c4.wallpaperflare.com/wallpaper/733/1023/808/mac-os-x-os-x-mountains-mist-wallpaper-preview.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}